
<div class="launch-card">
    <div class="card">
        <div class="card-body">
            <figure>
                <img src="{{data.links.mission_patch_small}}" alt="{{data.rocket.rocket_name}}">
            </figure>

            <h5>{{data.mission_name}}</h5>

            <ul>
                <li>
                    <h6><strong>Rocket Name: </strong> {{data.rocket.rocket_name}}</h6>
                </li>
                <li>
                    <h6><strong>Launch Year: </strong> {{data.launch_year}}</h6>
                </li>
            </ul>
        </div>
    </div>
</div>